html, body {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

aside {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  padding: 0 12px;
  box-sizing: border-box;
  background-color: #FFF;
}
aside #controler-container {
  display: flex;
  width: 100%;
  margin-bottom: 32px;
}
aside #controler-container .btn {
  cursor: pointer;
  padding: 4px 6px;
  margin: 0 8px;
  font-size: 12px;
  border: 1px solid lightblue;
}


aside #tag-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 32px;
}
aside #tag-container .tag {
  cursor: pointer;
  padding: 4px 6px;
  margin: 8px;
  font-size: 12px;
  color: #666;
  background-color: #eee;
}
aside #tag-container .tag.active {
  background-color: lightblue;
  color: #fff;
}

main#subject-container {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  margin-left: 12px;
  padding: 24px;
  box-sizing: border-box;
  background-color: #FFF;
}
.subject .title {
  font-weight: bold;
  margin-bottom: 8px;
  line-height: 28px;
}
.subject .title .tag {
  padding: 4px 6px;
  font-size: 12px;
  font-weight: normal;
  color: #666;
  background-color: #eee;
}
.subject .options {
  margin-bottom: 8px;
}
.subject .options .option {
  padding: 8px 0;
  color: #333;
}
.subject button {
  cursor: pointer;
  margin-bottom: 8px;
}

#random-practice {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 24px;
  border-radius: 4px;
  margin-bottom: 8px;
  font-size: 14px;
  color: #FFF;
  background-color: #1890ff;
}

#modal-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
#modal-wrapper #modal {
  width: 1000px;
  height: 80%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #FFF;
  overflow-y: auto;
}
#modal-wrapper #cancel-modal {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  margin-top: 8px;
  background-color: #FFF;
}
